ThePrey\Temp
ThePrey\Temp\*
ThePrey\Assembly-CSharp.csproj
ThePrey\Assembly-CSharp-Editor.csproj
ThePrey/Assembly-CSharp-Editor.csproj
*.csproj
ThePrey\Library\cache
ThePrey\Library\metadata
ThePrey\Library\previews
ThePrey\Library\ScriptAssemblies
ThePrey\Library\assetDatabase3
ThePrey\Library\AssetImportState
ThePrey\Library\assetservercachev3
ThePrey\Library\AssetServerCacheV3
ThePrey\Library\AssetVersioning.db
ThePrey\Library\AudioManager.asset
ThePrey\Library\BuildPlayer.prefs
ThePrey\Library\BuildSettings.asset
ThePrey\Library\DynamicsManager.asset
ThePrey\Library\EditorSettings.asset
ThePrey\Library\EditorUserBuildSettings.asset
ThePrey\Library\expandedItems
ThePrey\Library\FailedAssetImports.txt
ThePrey\Library\guidmapper
ThePrey\Library\MonoManager.asset
ThePrey\Library\InspectorExpandedItems.asset
ThePrey\Library\NetworkManager.asset
ThePrey\Library\ScriptMapper
